Sources/EPiServer.Campaign.Extensions/Connected Services/MailingReporting/MailingReporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="urn:api.broadmail.de/soap11/MailingReporting" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://lang.java" xmlns:impl="urn:api.broadmail.de/soap11/MailingReporting" targetNamespace="urn:api.broadmail.de/soap11/MailingReporting" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:api.broadmail.de/soap11/MailingReporting">
      <xsd:import namespace="http://lang.java" />
      <xsd:element name="getResponseCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
            <xsd:element name="in2" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponseCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getResponseCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="WebserviceException">
        <xsd:sequence>
          <xsd:element name="cause" nillable="true" type="xsd:anyType" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="fault" type="impl:WebserviceException" />
      <xsd:element name="getOverallRecipientCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOverallRecipientCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getOverallRecipientCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSentRecipientCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSentRecipientCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getSentRecipientCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFailedRecipientCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFailedRecipientCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getFailedRecipientCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLinkNames">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLinkNamesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getLinkNamesReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUnsubscribeCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUnsubscribeCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getUnsubscribeCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClickCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
            <xsd:element name="in2" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClickCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getClickCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOpenCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
            <xsd:element name="in2" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOpenCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getOpenCountReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLinkUrls">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLinkUrlsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getLinkUrlsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClickCountByUrl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
            <xsd:element name="in1" type="xsd:long" />
            <xsd:element maxOccurs="unbounded" name="in2" type="xsd:string" />
            <xsd:element name="in3" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClickCountByUrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getClickCountByUrlReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getVersion">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getVersionReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getVersionRequest">
    <wsdl:part name="parameters" element="impl:getVersion" />
  </wsdl:message>
  <wsdl:message name="getOverallRecipientCountResponse">
    <wsdl:part name="parameters" element="impl:getOverallRecipientCountResponse" />
  </wsdl:message>
  <wsdl:message name="getLinkUrlsResponse">
    <wsdl:part name="parameters" element="impl:getLinkUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="getLinkNamesRequest">
    <wsdl:part name="parameters" element="impl:getLinkNames" />
  </wsdl:message>
  <wsdl:message name="getClickCountRequest">
    <wsdl:part name="parameters" element="impl:getClickCount" />
  </wsdl:message>
  <wsdl:message name="getClickCountResponse">
    <wsdl:part name="parameters" element="impl:getClickCountResponse" />
  </wsdl:message>
  <wsdl:message name="getSentRecipientCountResponse">
    <wsdl:part name="parameters" element="impl:getSentRecipientCountResponse" />
  </wsdl:message>
  <wsdl:message name="getUnsubscribeCountResponse">
    <wsdl:part name="parameters" element="impl:getUnsubscribeCountResponse" />
  </wsdl:message>
  <wsdl:message name="getOpenCountRequest">
    <wsdl:part name="parameters" element="impl:getOpenCount" />
  </wsdl:message>
  <wsdl:message name="getOpenCountResponse">
    <wsdl:part name="parameters" element="impl:getOpenCountResponse" />
  </wsdl:message>
  <wsdl:message name="getLinkUrlsRequest">
    <wsdl:part name="parameters" element="impl:getLinkUrls" />
  </wsdl:message>
  <wsdl:message name="getResponseCountRequest">
    <wsdl:part name="parameters" element="impl:getResponseCount" />
  </wsdl:message>
  <wsdl:message name="getOverallRecipientCountRequest">
    <wsdl:part name="parameters" element="impl:getOverallRecipientCount" />
  </wsdl:message>
  <wsdl:message name="getClickCountByUrlRequest">
    <wsdl:part name="parameters" element="impl:getClickCountByUrl" />
  </wsdl:message>
  <wsdl:message name="WebserviceException">
    <wsdl:part name="fault" element="impl:fault" />
  </wsdl:message>
  <wsdl:message name="getLinkNamesResponse">
    <wsdl:part name="parameters" element="impl:getLinkNamesResponse" />
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="impl:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="getSentRecipientCountRequest">
    <wsdl:part name="parameters" element="impl:getSentRecipientCount" />
  </wsdl:message>
  <wsdl:message name="getFailedRecipientCountRequest">
    <wsdl:part name="parameters" element="impl:getFailedRecipientCount" />
  </wsdl:message>
  <wsdl:message name="getFailedRecipientCountResponse">
    <wsdl:part name="parameters" element="impl:getFailedRecipientCountResponse" />
  </wsdl:message>
  <wsdl:message name="getUnsubscribeCountRequest">
    <wsdl:part name="parameters" element="impl:getUnsubscribeCount" />
  </wsdl:message>
  <wsdl:message name="getResponseCountResponse">
    <wsdl:part name="parameters" element="impl:getResponseCountResponse" />
  </wsdl:message>
  <wsdl:message name="getClickCountByUrlResponse">
    <wsdl:part name="parameters" element="impl:getClickCountByUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="MailingReportingWebservice">
    <wsdl:operation name="getResponseCount">
      <wsdl:input name="getResponseCountRequest" message="impl:getResponseCountRequest" />
      <wsdl:output name="getResponseCountResponse" message="impl:getResponseCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getOverallRecipientCount">
      <wsdl:input name="getOverallRecipientCountRequest" message="impl:getOverallRecipientCountRequest" />
      <wsdl:output name="getOverallRecipientCountResponse" message="impl:getOverallRecipientCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getSentRecipientCount">
      <wsdl:input name="getSentRecipientCountRequest" message="impl:getSentRecipientCountRequest" />
      <wsdl:output name="getSentRecipientCountResponse" message="impl:getSentRecipientCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getFailedRecipientCount">
      <wsdl:input name="getFailedRecipientCountRequest" message="impl:getFailedRecipientCountRequest" />
      <wsdl:output name="getFailedRecipientCountResponse" message="impl:getFailedRecipientCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getLinkNames">
      <wsdl:input name="getLinkNamesRequest" message="impl:getLinkNamesRequest" />
      <wsdl:output name="getLinkNamesResponse" message="impl:getLinkNamesResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getUnsubscribeCount">
      <wsdl:input name="getUnsubscribeCountRequest" message="impl:getUnsubscribeCountRequest" />
      <wsdl:output name="getUnsubscribeCountResponse" message="impl:getUnsubscribeCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getClickCount">
      <wsdl:input name="getClickCountRequest" message="impl:getClickCountRequest" />
      <wsdl:output name="getClickCountResponse" message="impl:getClickCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getOpenCount">
      <wsdl:input name="getOpenCountRequest" message="impl:getOpenCountRequest" />
      <wsdl:output name="getOpenCountResponse" message="impl:getOpenCountResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getLinkUrls">
      <wsdl:input name="getLinkUrlsRequest" message="impl:getLinkUrlsRequest" />
      <wsdl:output name="getLinkUrlsResponse" message="impl:getLinkUrlsResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getClickCountByUrl">
      <wsdl:input name="getClickCountByUrlRequest" message="impl:getClickCountByUrlRequest" />
      <wsdl:output name="getClickCountByUrlResponse" message="impl:getClickCountByUrlResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersionRequest" message="impl:getVersionRequest" />
      <wsdl:output name="getVersionResponse" message="impl:getVersionResponse" />
      <wsdl:fault name="WebserviceException" message="impl:WebserviceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailingReportingSoapBinding" type="impl:MailingReportingWebservice">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getResponseCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getResponseCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResponseCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOverallRecipientCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getOverallRecipientCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOverallRecipientCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSentRecipientCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSentRecipientCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSentRecipientCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFailedRecipientCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getFailedRecipientCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFailedRecipientCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLinkNames">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getLinkNamesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLinkNamesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUnsubscribeCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUnsubscribeCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUnsubscribeCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClickCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getClickCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getClickCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOpenCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getOpenCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOpenCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLinkUrls">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getLinkUrlsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLinkUrlsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClickCountByUrl">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getClickCountByUrlRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getClickCountByUrlResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getVersionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WebserviceException">
        <wsdlsoap:fault use="literal" name="WebserviceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailingReportingWebserviceService">
    <wsdl:port name="MailingReporting" binding="impl:MailingReportingSoapBinding">
      <wsdlsoap:address location="https://api.campaign.episerver.net/soap11/MailingReporting" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>